Repository Arunosaur/ninaivalaigal: changes, and which pre-commit hooks are due for each by the changed paths.
All: rbac-policy-gate, security-tests, python-black, python-isort, python-flake8

.pre-commit-config.yaml:

# Pre-commit configuration for Ninaivalaigal security middleware
# Includes RBAC policy snapshot gate to prevent unnoticed permission changes

repos:
  - repo: local
    hooks:
      - id: rbac-policy-gate
        name: RBAC Policy Snapshot Gate
        entry: .pre-commit-hooks/rbac-policy-gate
        language: script
        files: ^(server/rbac_|tests/test_rbac_|scripts/.*rbac).*\.(py|sql)$
        pass_filenames: false
        always_run: false
        stages: [commit]
        verbose: true
        
      - id: security-tests
        name: Security Test Suite
        entry: python -m pytest tests/test_multipart_hardening_patch_v2.py tests/test_metrics_label_guard.py tests/test_rbac_policy_snapshot.py -v
        language: system
        files: ^(server/security/|server/observability/|server/rbac_|tests/).*\.py$
        pass_filenames: false
        always_run: false
        stages: [commit]
        
      - id: python-black
        name: Black Code Formatter
        entry: black
        language: system
        types: [python]
        args: [--line-length=100]
        
      - id: python-isort
        name: Import Sorting
        entry: isort
        language: system
        types: [python]
        args: [--profile=black, --line-length=100]
        
      - id: python-flake8
        name: Flake8 Linting
        entry: flake8
        language: system
        types: [python]
        args: [--max-line-length=100, --ignore=E203,W503]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: check-case-conflict

feat: Integrate hardened Starlette multipart adapter with comprehensive security validation
  docs/security/STARLETTE_ADAPTER_HARDENING.md
  server/security/__init__.py
  server/security/__pycache__/__init__.cpython-311.pyc
  server/security/multipart/__pycache__/starlette_adapter.cpython-311.pyc
  server/security/multipart/__pycache__/strict_limits.cpython-311.pyc
  server/security/multipart/__pycache__/strict_limits_hardened.cpython-311.pyc
  server/security/multipart/starlette_adapter.py
  server/security/multipart/starlette_adapter_hardened.py.bak
  server/security/multipart/strict_limits.py
  server/security/multipart/strict_limits_hardened.py
  tests/__pycache__/test_starlette_adapter_patch.cpython-311-pytest-8.4.1.pyc
  tests/__pycache__/test_starlette_adapter_simple.cpython-311-pytest-8.4.1.pyc
  tests/test_starlette_adapter_patch.py
  tests/test_starlette_adapter_simple.py
Due: security-tests, python-black, python-isort, python-flake8

feat: Add focused pytest bundle with MultiPartParser mocking for comprehensive security validation
  docs/security/MULTIPART_ADAPTER_TESTING.md
  tests/__pycache__/conftest.cpython-311-pytest-8.4.1.pyc
  tests/__pycache__/fake_objects.cpython-311.pyc
  tests/__pycache__/test_starlette_adapter_hardening.cpython-311-pytest-8.4.1.pyc
  tests/conftest.py
  tests/fake_objects.py
  tests/test_starlette_adapter_hardening.py
Due: security-tests, python-black, python-isort, python-flake8

feat: Complete final code review fixes for v1.1.0 multipart security hardening
  docs/security/MULTIPART_SECURITY_CONSOLIDATED.md
  server/health/multipart_config.py
  server/security/multipart/__pycache__/starlette_adapter.cpython-311.pyc
  server/security/multipart/__pycache__/strict_limits_hardened.cpython-311.pyc
  server/security/multipart/starlette_adapter.py
  server/security/multipart/strict_limits_hardened.py
  server/utils/__pycache__/filename_sanitizer.cpython-311.pyc
  server/utils/filename_sanitizer.py
  tests/__pycache__/test_filename_sanitizer.cpython-311-pytest-8.4.1.pyc
  tests/test_filename_sanitizer.py
Due: security-tests, python-black, python-isort, python-flake8

docs: Add v1.1.0 changelog for multipart security hardening release
  CHANGELOG.md
Due: none

feat: Add pre-merge validation and archive safety guards
  server/health/multipart_config.py
  server/security/multipart/archive_safety.py
  tests/__pycache__/test_status_code_integration.cpython-311-pytest-8.4.1.pyc
  tests/test_status_code_integration.py
Due: security-tests, python-black, python-isort, python-flake8

Implement comprehensive multipart security monitoring system
  docs/EXTERNAL_CODE_REVIEW_ANALYSIS.md
  docs/MULTIPART_SECURITY_MONITORING.md
  docs/runbooks/multipart-security.md
  monitoring/prometheus-alerts.yml
  server/health/multipart_config.py
  server/security/feature_flags.py
  server/security/monitoring/grafana_metrics.py
  tests/integration/test_multipart_monitoring.py
Due: security-tests, python-black, python-isort, python-flake8

Complete observability package integration with SLO monitoring
  .gitattributes
  benchmarks/enhanced_harness.py
  docs/MULTIPART_SECURITY_MONITORING.md
  monitoring/README.md
  monitoring/grafana_dashboards/multipart_security_alerts.json
  monitoring/grafana_dashboards/multipart_security_main.json
  monitoring/prometheus-alerts.yml
  monitoring/prometheus-recording-rules.yml
  rbac/context.py
  rbac/enforce.py
  server/security/audit/detector_versioning.py
  server/security/monitoring/grafana_metrics.py
  tests/test_orm_tenancy_guard.py
  tests/test_response_chunked.py
  tests/test_tier_failsafe.py
Due: security-tests, python-black, python-isort, python-flake8

Apply production-grade observability fixes and operational improvements
  docs/MULTIPART_SECURITY_MONITORING.md
  monitoring/README.md
  monitoring/grafana_dashboards/multipart_security_main.json
  monitoring/prometheus-alerts.yml
  monitoring/prometheus-recording-rules.yml
  server/security/monitoring/grafana_metrics.py
Due: security-tests, python-black, python-isort, python-flake8

Implement production-grade monitoring improvements and CI validation
  .github/workflows/monitoring-lint.yml
  monitoring/README.md
  monitoring/grafana_dashboards/multipart_security_main.json
  monitoring/prometheus-alerts.yml
  monitoring/prometheus-recording-rules.yml
  server/health/multipart_config.py
Due: python-black, python-isort, python-flake8

Complete Spec 009: JWT/RBAC integration with real claims resolver
  README_SPEC009_PATCH.md
  docs/EXTERNAL_CODE_REVIEW_ANALYSIS.md
  rbac/policy.py
  server/security/rbac/jwt_resolver.py
  server/security/rbac/subject_ctx.py
  tests/test_rbac_jwt_matrix.py
Due: rbac-policy-gate, security-tests, python-black, python-isort, python-flake8

Apply Spec 009 hardening patch: RBAC metrics + JWKS resilience + 401/403 semantics
  README_SPEC009_HARDENING_PATCH.md
  monitoring/grafana_dashboards/rbac_denials_row.json
  server/security/observability/tracing.py
  server/security/rbac/decorators_enhanced.py
  server/security/rbac/decorators_new.py
  server/security/rbac/jwt_resolver.py.new
  server/security/rbac/metrics.py
  tests/test_rbac_semantics.py
Due: rbac-policy-gate, security-tests, python-black, python-isort, python-flake8

Deploy Spec 010 kickoff scaffolding: tracing + RED metrics + dashboards + alerts
  .START_ALL_SERVERS.md.swp
  README_SPEC010_KICKOFF.md
  docs/EXTERNAL_CODE_REVIEW_ANALYSIS.md
  monitoring/grafana_dashboards/spec010_red_dashboard.json
  monitoring/prometheus-alerts-spec010.yml
  server/observability/metrics_red.py
  server/observability/tracing_middleware.py
  tests/test_claim_types_negative.py
  tests/test_e2e_multipart_rbac.py
  tests/test_jwks_chaos.py
Due: security-tests, python-black, python-isort, python-flake8

Apply security ops polish: config hash + traceparent + JWT replay + CI gates
  .github/workflows/multipart-policy-gate.yml
  docs/EXTERNAL_CODE_REVIEW_ANALYSIS.md
  scripts/multipart_policy_snapshot_gate.py
  server/health/config_hash_guard.py
  server/security/observability/traceparent_middleware.py
  server/security/rbac/metrics_jwt.py
  server/security/rbac/replay_store.py
  tests/test_health_config_hash.py
  tests/test_jwt_replay_metric.py
  tests/test_multipart_policy_gate.py
  tests/test_traceparent_header.py
  tests/test_traceparent_header_new.py
Due: security-tests, python-black, python-isort, python-flake8

Launch Spec 011: Memory substrate with FastAPI + MCP dual architecture
  README_SPEC011_KICKOFF.md
  docs/EXTERNAL_CODE_REVIEW_ANALYSIS.md
  mcp_server/tools/memory_tool.py
  server/memory/api.py
  server/memory/db/schema.sql
  server/memory/models.py
  server/memory/store.py
  server/memory/tests/test_memory_api.py
  tests/test_e2e_rbac_negative.py
  tests/test_e2e_rbac_negative_new.py
  tests/test_jwks_offline_chaos.py
  tests/test_jwks_offline_chaos_new.py
  tests/test_malformed_claim_types.py
  tests/test_malformed_claim_types_new.py
  tests/test_multipart_status_codes.py
  tests/test_multipart_status_codes_new.py
Due: security-tests, python-black, python-isort, python-flake8

Deploy Spec 011.1: Production Postgres + pgvector semantic search
  README_SPEC011_1_PGVECTOR_DEMO.md
  docs/EXTERNAL_CODE_REVIEW_ANALYSIS.md
  mcp_server/tools/memory_semantic_tool_new.py
  server/memory/api_demo/semantic.py
  server/memory/api_demo/semantic_new.py
  server/memory/db/migrations/0111_memory_pgvector.sql
  server/memory/db/migrations/0111_memory_pgvector_new.sql
  server/memory/stores/postgres_store.py
  server/memory/stores/postgres_store_new.py
  server/memory/tests/test_postgres_semantic_demo.py
Due: python-black, python-isort, python-flake8

Deploy Spec 011.1 Factory: Auto-select Postgres/InMemory + FastAPI wiring
  requirements-dev.txt
  scripts/db_snapshot_key.py
  server/app/app_factory_patch.py
  server/memory/store_factory.py
  server/memory/stores/inmemory_store.py
  tests/test_factory_switch_smoke.py
Due: security-tests, python-black, python-isort, python-flake8

Add Windsurf context sync for Mac Studio setup
  WINDSURF_CONTEXT_SYNC.md
Due: none

Add comprehensive validation scripts for Mac Studio deployment
  VALIDATION_SCRIPTS_README.md
  validate_cli_flow.sh
  validate_production_readiness.sh
  validate_system.sh
Due: none

Add Mac Studio setup guide
  MAC_STUDIO_SETUP.md
Due: none

feat: Add Apple Container CLI scripts for Mac Studio
  .env.example
  scripts/README.md
  scripts/nv-db-start.sh
  scripts/nv-db-status.sh
  scripts/nv-db-stop.sh
  scripts/nv-test-db.sh
Due: none

docs: Add comprehensive Apple Container CLI documentation
  APPLE_CONTAINER_CLI_SUCCESS.md
  MAC_STUDIO_VALIDATION_REPORT.md
  WINDSURF_CONTEXT_SYNC.md
  docs/APPLE_CONTAINER_CLI_SETUP.md
Due: none

chore: Add .env to .gitignore to prevent password leaks
  .gitignore
Due: none

feat: Add Mac Studio Apple Container CLI validation workflow
  .github/workflows/macstudio-validate.yml
Due: none

feat: Add incremental deployment scripts for Mac Studio
  .env.example
  INCREMENTAL_DEPLOYMENT_GUIDE.md
  scripts/nv-api-start.sh
  scripts/nv-api-stop.sh
  scripts/nv-pgbouncer-start.sh
  scripts/nv-pgbouncer-stop.sh
  scripts/nv-stack-start.sh
  scripts/nv-stack-status.sh
  scripts/nv-stack-stop.sh
Due: none

feat: Add hardened validation and production fixes
  scripts/nv-api-start.sh
  scripts/nv-pgbouncer-start.sh
  scripts/validate_scripts_integrity.sh
Due: none

feat: Finalize production-ready Apple Container CLI stack
  Makefile
  scripts/nv-api-start.sh
  scripts/nv-api-stop.sh
  scripts/nv-pgbouncer-start.sh
  scripts/nv-pgbouncer-stop.sh
  scripts/nv-stack-start.sh
  scripts/nv-stack-status.sh
  scripts/nv-stack-stop.sh
Due: none

docs: Add Apple Container CLI Quickstart to README
  README.md
Due: none

feat: Add Mac Studio CI/CD workflow and runner setup guide
  .github/workflows/macstudio-stack-validate.yml
  GITHUB_RUNNER_SETUP.md
Due: none

feat: Add complete Mac Studio CI/CD workflows and mem0 sidecar
  .github/workflows/macstudio-validate-matrix.yml
  Dockerfile.mem0
  scripts/nv-mem0-start.sh
  scripts/nv-mem0-status.sh
  scripts/nv-mem0-stop.sh
  sidecar/main.py
Due: python-black, python-isort, python-flake8

feat: Wire mem0 into stack orchestration as first-class service
  Makefile
  scripts/nv-stack-start.sh
  scripts/nv-stack-status.sh
  scripts/nv-stack-stop.sh
Due: none

feat: Harden mem0 integration with production patterns and comprehensive error handling
  Makefile
  scripts/nv-mem0-start.sh
  scripts/nv-mem0-status.sh
  scripts/nv-stack-start.sh
  scripts/nv-stack-status.sh
  scripts/nv-stack-stop.sh
  sidecar/main.py
Due: python-black, python-isort, python-flake8

feat: Add production readiness suite - backups, monitoring, security, and cutover procedures
  .env.example
  .github/dependabot.yml
  .pre-commit-config.yaml
  Makefile
  docs/BACKUP_RESTORE.md
  docs/CUTOVER_ROLLBACK.md
  scripts/backup-db.sh
  scripts/db-stats.sh
  scripts/restore-db.sh
Due: none

docs: Add Mac Studio production deployment guide
  MAC_STUDIO_PRODUCTION_DEPLOYMENT.md
Due: none

feat: Complete enterprise stack - SPEC automation + 5-service UI containerization
  .env.example
  Dockerfile.ui
  Makefile
  nginx.conf
  scripts/nv-stack-start.sh
  scripts/nv-stack-status.sh
  scripts/nv-stack-stop.sh
  scripts/nv-ui-start.sh
  scripts/nv-ui-status.sh
  scripts/nv-ui-stop.sh
  scripts/spec-new.sh
  scripts/spec-test.sh
Due: none

feat: Enhanced SPEC workflow with intelligent system detection and recommendations
  .github/workflows/macstudio-validate-specs-matrix.yml
  Makefile
  scripts/nv-ui-status.sh
  scripts/spec-create.sh
  scripts/spec-new.sh
  scripts/spec-test.sh
  scripts/system-detect.sh
  specs/000-template/SPEC.md
  specs/000-template/acceptance.md
  specs/000-template/demo.http
  specs/000-template/spec.env.example
  specs/000-template/tests/test_spec_smoke.py
Due: python-black, python-isort, python-flake8

feat: Deployment-aware system detection for VM/cloud/container compatibility
  docs/DEPLOYMENT_ENVIRONMENTS.md
  scripts/spec-new.sh
  scripts/spec-test.sh
  scripts/system-detect.sh
Due: none

feat: PR 1 - Supply chain hardening with pinned images, SBOM, and vulnerability scanning
  .github/workflows/macstudio-validate-specs-matrix.yml
  Dockerfile
  Dockerfile.mem0
  Dockerfile.ui
  Makefile
  scripts/backup-db.sh
Due: none

feat: PR 2 - Pre-commit hooks with secrets scanning and comprehensive code quality
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .secrets.baseline
  docs/DEVELOPMENT.md
  pyproject.toml
Due: none

feat: PR 3 - Backup verification with restore rehearsal and automated CI monitoring
  .github/workflows/backup-verification.yml
  Makefile
  scripts/cleanup-backups.sh
  scripts/restore-db.sh
  scripts/verify-backup.sh
Due: none
